html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    outline:none;
}

/* section.zoom h1{
text-align:center;
font-size: 40px;
background: -webkit-linear-gradient( #92e7d4, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: light 5s normal;
    
} */



section.zoom{
width: 100%;
height: 1000px;
position: relative;
overflow: hidden;
background: url(images/bg.jpg);
background-size: cover;
background-position: center;
}

section.zoom ::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
    background: linear-gradient(transparent, #fff);

}

section.zoom .layer1{
    width: 100%;
    /* top: 0%; */
    position: absolute;
    left: 40%;
    transform: translateX(-50%)

}
section.zoom .layer2{
    width: 100%;
    /* top: 0%; */
    position: absolute;
    right: 0%;

}
section.zoom .text{
    width: 100%;
    /* top: 0%; */
    position: absolute;
    right: 0%;
transform: translateY(50%)
}
/* Navigation section */


section.content{
    /* padding: 100px; */
    box-sizing: border-box;
    
display: flex;
flex-direction: column;
align-items: center;

}

section.content nav ul{
    display: flex;
    /* margin: 300px 200px; */
    padding:0;
    margin-top: 60px;
    margin-bottom:30%;
     
}
section.content nav ul li{

    list-style: none;
    padding: 10px 20px;
}
section.content nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    color:#262626;
    position: relative;
}

section.content nav ul li a::before{

content: '';
width:0px;
height: 5px;
background: #00bcd4;
position: absolute;
top: 100%;
left: 0;
transition: .5s;

}

section.content nav ul li:hover a::before{
width: 50%;
transform: translateX(100%);


}

/* About Section */

.about h2{
    text-align: center;
    margin-top: 10%;
    text-transform: uppercase;
    font-size: 40px;  
}

.about h2 span{
    
    border-bottom: #00bcd4 2px solid;
    }

.about p{
    margin: 5% 10% 5% 10%;
    font-size:20px;
}

/* My skill Area */

.skills h2, .portfolio h2{
    text-align: center;
    /* margin-top: 20%; */
    text-transform: uppercase;
    font-size: 40px; 
}

.skills h2 p, .portfolio h2 span{
    display: inline;
    border-bottom:2px solid #00bcd4;
   
}

.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;    
    margin:5% 0;
    }
    
    .container .box{
        width: 25%;
        float: left;
        margin-bottom: 5%;
    }
    .container .box h2 {
    
        text-align: center;
        font-size: 20px;
    }
    
    .container .box .chart
    {
        position: relative;
        width: 110px;
        height: 110px;
        margin:0 auto;
        text-align: center;
        font-size:30px;
        line-height: 110px;
    
    }
    .container .box canvas{
        position: absolute;
        top: 0;
        left: 0;
    
    }
/* 
#effect{
    background: url('images/129.png') no-repeat;
    background-attachment: fixed;
    background-size:contain;
    width: 100vw;
    height: 40vh;
    z-index: 1000;

} */

/* Portfolio Section */
.portfolio{
    margin-top: 40%;
}
.portfolio p{
text-align: center;
font-size:24px; 

}

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li{
    list-style: none;
    display: inline-block;
}

ul.filters > li > a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #28bea8;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color :#fff;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40,190,168,0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #28bea8;
    color: #fff;
}

/* ss */
.container10{
    max-width: 1200px;
    margin: 100px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container10 .card{
    position: relative;
    margin: 20px 5px;
    width: 550px;
    height: 300px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px #00bbd43a;
}
.container10 .card:hover{
    z-index: 1000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px #00bbd43a;
}

.container10 .card .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #00bcd4;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.container10 .card:hover .imgBox{

        transform: rotateY(-135deg);
}

.container10 .card .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container10 .card .details{

    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}
.container10 .card .details h2{
    font-size:18px;
}
.container10 .card .details p{
    font-size:15px;
}
.container10 .card .details button{
    padding: 15px 25px;
    background: none;
    border: #00bcd4 1.5px solid;
    cursor: pointer;
    color: #00A8E0;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    transition: .5s;
    /* -webkit-text-stroke: 1px black; */
}
.container10 .card .details a{

    font-weight: 500;
}
.container10 .card .details button:hover{

    background: #00bcd4;
    color: #000;
}

/* Contact form */


.wrapper{
    background: #000;
    height: 100vh;
}

.wrapper .header{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

    width: 900px;
}
.wrapper .header h1{
    font-size: 48px;
}

.wrapper .header p{
    font-size: 18px;
}

.wrapper .form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 900px;
}

.wrapper input {
    width: 100%;
    margin: 20px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #0078ff;
    color:#fff;
    outline: none;
}
.wrapper #msg{
    margin-top: 60px;
}

::-webkit-input-placeholder{
    color: #EAEAEA;
    font-size: 17px;
    letter-spacing: 2px;
}
.wrapper button{
    padding: 20px 32px;
    font-size:16px;
    background: #0078ff;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    color: #fff;
    transition: .5;
}

